.jumbo{
    background-color: rgb(191, 223, 144)
}

p{
    font-family: Verdana, sans-serif;
   font-size: 16px
}

.shadow{
    shadow: 3px 3px gray;
}

.w{
    background-color: white
}

.grn{
    color: rgb(191, 223, 144)
}

.tab{
    text-indent: 45px;
}

.purp{
        color: #DB5ABA
}
 
.rh1{
min-height: 255px;
}

.rh2{
    min-height: 690px;
    }

.pad{
    padding: 10px;
}

.btm{
    padding-top: 25px;
    padding-bottom: 1px;
}
